
<div class="container">
  <div class="titleDetails">
    <h1>{{countryName}}</h1>
  </div>
  <div class="infoDetailsCard">
    <div class="numberOfEntriesCard">
      <p>Number of entries</p>
      <div class="values">
        {{getTotalParticipations()}}
      </div>
    </div>
    <div class="totalNumberMedalsCard">
      <p>Total number medals</p>
      <div class="values">
        {{getTotalMedals()}}
      </div>
    </div>
    <div class="totalNumberOfAthletesCard">
      <p>Total number of athletes</p>
      <div class="values">
        {{getTotalAthletes()}}
      </div>
    </div>
  </div>
  <div class="lineChartGraph">
    <div echarts [options]="lineChartOption" class="chart"></div>
  </div>
</div>
<button (click)="goBack()" >🔙</button>
