<div class="container">
  <div class="titleCard">
    <H1>Medals per country</H1>
  </div>
  <div class="InfoCards" *ngIf="olympics$ | async as olympics">
    <div class="numberOfJOsCard">
      <p>Number of JOs</p>
      <div class="values">
      {{getOlympicGamesCount(olympics)}}
    </div>

    </div>
    <div class="numberOfCountriesCard">
      <p>Number of Countries</p>
      <div class="values">
        <span>{{ (olympics$ | async)?.length }}</span>
      </div>
    </div>
  </div>
    <div class="pieChartGraph">
      <div echarts [options]="pieChartOptions" class="chart" (chartClick)="onChartClick($event)"></div>
    </div>
</div>
