body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container {
  text-align: center;
  margin: auto;
}

h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

p {
  color: gray;
  margin: 1%;
  font-size: 1.2rem;
}

.titleCard {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(74,130,141);
  color: white;
  border-radius: 10px;
  margin: 5% auto 3%;
  width: 35vw;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

.InfoCards {
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

.numberOfCountriesCard,
.numberOfJOsCard {
  border: 3px solid #75A8ACFF;
  border-radius: 0.5em;
  width: 20vw;
  text-align: center;
  font-weight: bold;
  background: white;
  white-space: nowrap;
}

.values {
  font-weight: bolder;
  font-size: 1.5rem;
}

.pieChartGraph {
  margin-top: 5vw;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2vw;
}

@media screen and (max-width: 1024px) {
  .titleCard {
    width: 40vw;
    font-size: 1.2em;
  }
  .numberOfJOsCard {
    width: 20vw;
  }
  .numberOfCountriesCard {
    width: 25vw;
  }
  .pieChartGraph {
    width: 80vw;
    font-size: 1vw;
  }
}

@media screen and (max-width: 768px) {
  .titleCard {
    width: 55vw;
    font-size: 1.1em;
  }

  .InfoCards {
    gap: 3vw;
  }

  .numberOfCountriesCard,
  .numberOfJOsCard {
    width: 30vw;
  }

  .pieChartGraph {
    max-width: 100vw;
  }
}

@media screen and (max-width: 425px) {
  .titleCard {
    width: 90vw;
    font-size: 1rem;
  }

  .numberOfCountriesCard,
  .numberOfJOsCard {
    width: 90vw;
  }

  p {
    font-size: 1.1rem;
  }
  .pieChartGraph {
    width: 80vw;
    font-size: 1vw;
  }
}
